@import url('../fonts/Roboto/roboto.css');
@import url('reset.css');

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    height: 70px;
    border-bottom: 1px solid;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.nav__logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav__logo-text {
    font-family: 'Roboto Regular';
    font-size: 24px;
    margin-left: 15px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list-link {
    font-family: 'Roboto Light';
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.nav__list-link_active {
    position: relative;
    color: #D84034;
}
.nav__list-link_active::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #D84034;
    top: 7px;
    left: -13px;
}
